.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-info{
    margin-left: 20px;
}
.cart-button{
    background-color: rgb(241, 190, 61);
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}